.active {
  background-color: #45CFDD;
  height: 30px;
  width: 30px;
  outline: none;
  border-radius: 6px;
  box-shadow: none;
}

.default-btn {
  background-color: transparent;
  height: 30px;
  width: 30px;
  outline: none;
  border-radius: 6px;
  box-shadow: none;
  border: none;
}

/* .btn-navigate {
  height: 30px;
  width: 50px;
  outline: none;
  box-shadow: none;
} */


.download-table-xls-button {
  background-color: #fff !important;
  font-family: 'Roboto' !important;
  border-radius: 6px;
}

.download-table-xls-button:hover {
  background-color: rgb(177, 218, 187) !important;
}
